.body {
    margin: 0px;   
}
.header {
    margin: 20px;
}
.container {
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.input-group {
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.input-group-text {
    border-color: black;
    margin: 5px;
}

.form-control {
    border-color: black;
}


