:root {
    --header-start-color: #6200ee;
    --header-end-color: #c011ff;


}
.H {
    color: red
}
.ello {
    color: blue
}
.W {
    color: yellowgreen
}
.orld {
    color: blue
}


p::first-line {
    color: blue;
}
p::selection {
    background-color: red;
}
p::first-letter {
    font-size: bigger;
}
p:hover::after {
    content:'';
display: block;
height: 10px;
background-color: red;
}
