

.container {
    height: 100 vh;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 200px 1fr 100px;
    grid-gap: 5px, red;
}
.header {
   background-color: green;
   color: white;
   grid-column: 1 / 5;
    grid-row: 1 / 2;
}
.main {
    background-color: blueviolet;
    color: white;
    grid-column: 1 / 4;
    grid-row: 2 /3;
}
.sidebar {
    background-color: orange;
    color: white;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
.footer {
    background-color: aquamarine;
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

