.body {
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
    height: 100vh;
    margin: 0;
}
.parent {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.parent div {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;  
    font-weight: 800;
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    margin: 20px;
    transition: 3s;
    cursor: pointer;   
}
.parent div:nth-of-type(odd){
    background-color: fuchsia;
}
.parent div:hover {
    transform: scale(2) rotate(180deg);
}